.content-capture--detail {

	h2 {
		font-size: 3.0rem;
		color: #db2727;
		margin-bottom: 20px;
	}
	.l-section {
		border-top: 1px solid #000000;
		padding: 30px 20px;
		margin: auto;

		&--gray {
			background: #f2f2f2;
		}
		&--nb {
			border: 0;
		}
	}

	.l-section-part {
		margin: 30px 0;
	}

	.__result-summary {
		background: #f2f2f2;
		border: 0;
		padding: 0 20px;
		font-size: 3.2rem;

		h2 {
			font-size: 2.4rem;
			color: #cb8922;
			font-weight: bold;
			margin-bottom: 10px;
		}

		> div {
			padding: 20px 0;
			border-bottom: 2px dotted #000;
			&:last-child {
				border: 0;
			}
		}

		.__words {
			> span {
				display: inline-flex;
				flex-direction: column;
			}

			&__ruby {
				font-size: 2.4rem;
				margin-bottom: 5px;
			}
		}
	}

	.__image-search {
		overflow: hidden;
		overflow-x: auto;
		white-space: nowrap;

		a {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin-right: 8px;
			cursor: pointer;

			background: {
				position: center center;
				size: cover;
				repeat: no-repeat;
				image: url(../img/no-image.jpg);
			}

			.__thumb-image {
				width: 187px;
				height: 139px;
				background: {
					position: center center;
					size: cover;
					repeat: no-repeat;
				}
			}
		}

	}

	.__dbpedia {
		margin: 20px 0;
	}

	@import "../recipe-list";

	@import "../video-list";

}